html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  padding: 109px 128px;
  max-width: 100%;
  height: 100vh;
}

.index > img {
  background-repeat: no-repeat;
  background-position: center,center;
  background-size: cover;
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
  vertical-align: bottom;
  top: 0;
  left: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.index > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index > header ul {
  color: white;
}

.index > header ul li:nth-child(1) {
  margin-bottom: 30px;
}

.index > header ul li:nth-child(1), .index > header ul li:nth-child(2) {
  font-family: 'Noto Sans TC', sans-serif;
}

.index > header ul li:nth-child(2), .index > header ul li:nth-child(3), .index > header ul li:nth-child(4) {
  font-weight: 200;
  margin-bottom: 10px;
}

.index > main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.index > main .room {
  position: relative;
  height: 275px;
  width: 30%;
  background-position: center,center;
  background-size: cover;
}

.index > main :hover::after {
  content: attr(data-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 19px;
  width: 100%;
  height: 100%;
  background: rgba(56, 71, 11, 0.6);
  color: white;
}

.index::after {
  content: '';
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.index > .background {
  position: relative;
}

.index > .background label {
  cursor: pointer;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  right: 1120px;
  bottom: -59px;
}

.index > .background label:nth-child(2) {
  right: 1097px;
}

.index > .background label:nth-child(3) {
  right: 1074px;
}

.index > .background label:nth-child(4) {
  right: 1051px;
}

@-webkit-keyframes fade {
  form {
    opacity: 1;
  }
  to {
    opacity: .8;
  }
}

@keyframes fade {
  form {
    opacity: 1;
  }
  to {
    opacity: .8;
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #587011;
}

.mask {
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}

.room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room .room__booking {
  position: fixed;
  margin-right: 30px;
  height: 100%;
  width: 37%;
}

.room .room__booking label {
  cursor: pointer;
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  right: 305px;
  bottom: 50px;
}

.room .room__booking label:nth-child(8) {
  right: 275px;
}

.room .room__booking label:nth-child(9) {
  right: 245px;
}

.room .room__booking .first, .room .room__booking .second, .room .room__booking .third {
  width: 100%;
  height: 100%;
  background-position: center,center,center,center;
  background-size: cover;
}

.room .room__booking .room__booking--active {
  cursor: pointer;
  position: absolute;
  left: 27%;
  bottom: 15%;
  background-color: #587011;
  color: white;
  border: none;
  font-size: 20px;
  line-height: 44px;
  width: 252px;
}

.room .room__booking .room__booking--return {
  font-size: 14px;
  display: block;
  position: absolute;
  top: 10%;
  left: 15%;
  background-color: #587011;
  color: white;
  text-align: center;
  width: 110px;
  padding: 5px;
  text-decoration: none;
}

.room .room__booking .room__booking--return::before {
  position: absolute;
  content: '';
  top: -3px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 26px 15px 0;
  border-color: transparent #587011 transparent transparent;
}

.room .room__booking .room__booking__price {
  font-size: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 23%;
}

.room .room__booking .room__booking__price > span {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}

.room .room__introduce {
  margin-left: 40%;
  margin-right: 70px;
}

.room .room__introduce h2 {
  width: 55%;
  display: inline-block;
  font-size: 40px;
  margin-top: 107px;
  margin-bottom: 38px;
  font-weight: 500;
}

.room .room__introduce span {
  font-weight: 500;
}

.room .room__introduce .room__introduce__text, .room .room__introduce .room__introduce__time {
  margin-bottom: 35px;
}

.room .room__introduce .room__introduce__text li, .room .room__introduce .room__introduce__time li {
  line-height: 24px;
}

.room .room__introduce .room__introduce__text {
  font-weight: 300;
}

.room .room__introduce .room__introduce__facility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.room .room__introduce .room__introduce__facility .not {
  opacity: .2;
}

.room .room__introduce .room__introduce__facility span {
  display: block;
  text-indent: -20px;
}

.room .room__introduce .room__introduce__facility > div {
  width: 13%;
  text-align: center;
  margin-bottom: 25px;
}

.room .room__introduce .room__introduce__facility .room__indroduce__facility__status {
  margin-bottom: 25px;
}

.booking__form {
  position: fixed;
  background-color: white;
  border: solid 1px #38470B;
  width: 1100px;
  height: 600px;
  margin: 68px 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  z-index: 1;
  top: 5%;
  left: 10%;
}

.booking__form .booking__form__client {
  width: 445px;
  padding: 50px 65px 26px;
  background-color: #38470B;
  color: white;
}

.booking__form .booking__form__client input {
  margin-top: 7px;
  width: 100%;
  font-size: 16px;
  line-height: 38px;
  color: #38470B;
  text-indent: 20px;
}

.booking__form .booking__form__client .booking__form__client__data {
  margin-bottom: 16px;
}

.booking__form .booking__form__client .booking__form__client__data > span {
  color: red;
}

.booking__form .booking__form__client .booking__form__client__data > p {
  display: inline-block;
  margin-right: 10px;
}

.booking__form .booking__form__client > p {
  color: #949C7C;
}

.booking__form .booking__form__client .booking__form__client__bill {
  padding-top: 8px;
  margin: 16px 0 20px;
  border-top: 1px solid #949C7C;
  text-align: right;
}

.booking__form .booking__form__client .booking__form__client__bill span {
  font-size: 26px;
  line-height: 36px;
}

.booking__form .booking__form__client .booking__form__client--send {
  cursor: pointer;
  border: 2px solid white;
  width: 100%;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  background-color: #38470B;
  color: white;
  margin-bottom: 18px;
}

.booking__form .booking__form__client > span {
  display: block;
  text-align: center;
  font-size: 12px;
}

.booking__form .booking__form__roomInfo {
  overflow: auto;
  width: 665px;
  padding: 51px 94px 26px 30px;
}

.booking__form .booking__form__roomInfo > img {
  position: absolute;
  top: 39px;
  right: 39px;
  cursor: pointer;
}

.booking__form .booking__form__roomInfo h2 {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.booking__form .booking__form__roomInfo li {
  line-height: 26px;
  font-size: 12px;
}

.booking__form .booking__form__roomInfo h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.booking__form .booking__form__roomInfo > div {
  padding: 20px 0;
  border-top: 1px solid #38470B;
  margin-bottom: 26px;
}

.booking__form .booking__form__roomInfo > div > p {
  line-height: 25px;
}

.booking__form .booking__form__roomInfo .booking__form__roomInfo__facility {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

.booking__form .booking__form__roomInfo .booking__form__roomInfo__facility div {
  margin-right: 35px;
  margin-bottom: 20px;
  width: 12%;
}

.booking__form .booking__form__roomInfo .booking__form__roomInfo__facility img {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 auto 8px;
}

.booking__form .booking__form__roomInfo .booking__form__roomInfo__facility span {
  display: block;
}

.booking__form .booking__form__roomInfo__process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking__form .booking__form__roomInfo__process > img {
  margin: 0 15px;
}

.booking__form .booking__form__roomInfo__process > div {
  height: 136px;
  width: 160px;
  border: 1px solid #949C7C;
  text-align: center;
  border-radius: 10px;
}

.booking__form .booking__form__roomInfo__process > div p {
  padding: 5px;
}

.booking__form .booking__form__roomInfo__process > div > div {
  width: 160px;
  height: 50px;
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #949C7C;
  text-align: center;
}

.innerFirst, .innerSecond, .innerThird {
  left: 35%;
  position: fixed;
  z-index: 1;
  height: 90%;
  width: 30%;
  margin-top: 40px;
  background-position: center,center;
  background-size: cover;
  border-radius: 20px;
}

.closePhoto {
  cursor: pointer;
  position: fixed;
  z-index: 1;
  right: 26%;
  top: 25px;
  width: 20px;
}

.prevImg, .nextImg {
  width: 0;
  height: 0;
  background: none;
  border-style: solid;
  cursor: pointer;
  position: fixed;
  outline: none;
  z-index: 1;
}

.prevImg {
  top: 45%;
  left: 25%;
  border-width: 20px 25px 20px 0;
  border-color: transparent #668115 transparent transparent;
}

.nextImg {
  top: 45%;
  right: 25%;
  border-width: 20px 0 20px 25px;
  border-color: transparent transparent transparent #668115;
}

.disappear {
  display: none;
}

.calendar {
  margin-left: 40%;
  color: #38470B;
  border: 1px solid #38470B;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 635px;
  margin-bottom: 30px;
}

.nowMonth {
  margin-right: 30px;
}

.nowMonth, .futureMonth {
  width: 400px;
}

.single__month {
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
  border-radius: 10px;
  background-color: white;
  height: 300px;
  width: 300px;
  z-index: 2;
  position: fixed;
  padding: 0 20px;
  bottom: 120px;
  left: 665px;
}

.checkOutDate {
  bottom: 40px;
}

.thisMonth, .nextMonth, .singleMonth {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thisMonth button, .nextMonth button, .singleMonth button {
  width: 0;
  height: 0;
  background: white;
  border-style: solid;
  cursor: pointer;
  margin-top: 3px;
  position: absolute;
  outline: none;
}

.single__month .prev__month {
  border-width: 5px 8.7px 5px 0;
  border-color: transparent #668115 transparent transparent;
  top: 0;
  left: 0;
}

.single__month .next__month {
  right: 0;
  top: 0;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent #668115;
}

.singleMonth span {
  font-size: 16px;
}

.thisMonth button {
  left: -10px;
  border-width: 10px 17.3px 10px 0;
  border-color: transparent #668115 transparent transparent;
}

.thisMonth button:hover {
  border-color: transparent #38470B transparent transparent;
}

.nextMonth button {
  right: -10px;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #668115;
}

.nextMonth button:hover {
  border-color: transparent transparent transparent #38470B;
}

.thisMonth span, .nextMonth span {
  font-size: 25px;
}

.week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #38470B;
}

.single__week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #38470B;
}

.single__weekday {
  width: calc(100% / 7);
  text-align: center;
  margin-bottom: 5px;
  font-size: 10px;
}

.weekday {
  width: calc(100% / 7);
  text-align: center;
  margin-bottom: 10px;
}

.thisMonthDayList, .nextMonthDayList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 0px;
}

.thisMonthDay, .nextMonthDay, .singleMonthDay {
  margin: 2px 0;
  font-size: 12px;
  width: calc(100% / 7);
  line-height: 30px;
  height: 30px;
}

.currentDay:hover {
  cursor: pointer;
  background-color: #668115;
  border-radius: 20px;
}

.before__thisDay {
  text-decoration: line-through;
  cursor: not-allowed;
  opacity: .2;
}

.pick {
  background-color: rgba(148, 156, 124, 0.2);
}

.firstPick {
  position: relative;
  background-color: #38470B;
  border-radius: 20px;
  color: white;
}

.firstPick::before {
  position: absolute;
  content: '';
  left: 0;
  z-index: -1;
  border-radius: 20px 0 0 20px;
  width: 100%;
  height: 100%;
  background-color: #949C7C;
  opacity: .2;
}

.lastPick {
  position: relative;
  background-color: #949C7C;
  border-radius: 20px;
  color: white;
}

.lastPick::before {
  position: absolute;
  content: '';
  left: 0;
  z-index: -1;
  border-radius: 0 20px 20px 0;
  width: 100%;
  height: 100%;
  background-color: #949C7C;
  opacity: .2;
}

.leftPickCircle {
  border-radius: 0 20px 20px 0;
}

.rightPickCircle {
  border-radius: 20px 0 0 20px;
}
